.events_leave {
    background-color:#D7A9E3FF;
    color: black;
  }
.events_calender  {
  background-color:#8BBEE8FF;
  color: black;
}
.events_activity {
  background-color:#A8D5BAFF;
  color: black;
}
