footer {
	&.o_footer {
		background:none !important;
		#footer {
			border:none !important;
		}
	}
}

#footer {
	background: #f7faff;
    color: #323232;
	padding: 0 !important;

	.middle-footer {
	    padding: 60px 0px;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
		@media (max-width: 767px) {
			padding: 20px 0px 10px 0px;
		}
		h3 {
	        font-size: 18px;
		    font-weight: 500;
		    margin: 0 0 20px;
		    color: #323232;
		}	
		.fot-link {
			margin: 0;
			padding: 0;
			li {
			    list-style: none;
			    position: relative;
			    padding-left: 15px;
				a {
					padding: 5px 0px;
				    display: inline-block;
				    vertical-align: middle;
				    color: #323232;
					-webkit-transition: all 0.3s ease-in-out 0s;
					-o-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
					&:hover {
						color: $as-theme;
					}
				}
				&:after {
				    content: "";
				    width: 5px;
				    height: 5px;
				    position: absolute;
				    top: 14px;
				    left: 0;
				    border-top: 1px solid #9c9c9c;
				    border-right: 1px solid #9c9c9c;
				    transform: rotate(45deg);
				}
			}
		}
	}

	.footer-bottom {
		padding: 20px 0;
		border-top: 1px solid rgba(255,255,255,0.1);
		.copyright {
			color: #737373;
		}
	}
}